
.custom-card{
box-shadow: 2px 6px 21px 2px rgba(255, 255, 255, 0.49);
background-image: linear-gradient(45deg, rgb(134, 134, 134),rgb(96, 96, 96)),linear-gradient(67.5deg, rgb(27, 68, 36) 0%, rgb(27, 68, 36) 4%,rgb(67, 79, 52) 4%, rgb(67, 79, 52) 20%,rgb(107, 91, 68) 20%, rgb(107, 91, 68) 31%,rgb(148, 102, 84) 31%, rgb(148, 102, 84) 75%,rgb(188, 114, 100) 75%, rgb(188, 114, 100) 78%,rgb(228, 125, 116) 78%, rgb(228, 125, 116) 100%),linear-gradient(22.5deg, rgb(27, 68, 36) 0%, rgb(27, 68, 36) 4%,rgb(67, 79, 52) 4%, rgb(67, 79, 52) 20%,rgb(107, 91, 68) 20%, rgb(107, 91, 68) 31%,rgb(148, 102, 84) 31%, rgb(148, 102, 84) 75%,rgb(188, 114, 100) 75%, rgb(188, 114, 100) 78%,rgb(228, 125, 116) 78%, rgb(228, 125, 116) 100%),linear-gradient(45deg, rgb(27, 68, 36) 0%, rgb(27, 68, 36) 4%,rgb(67, 79, 52) 4%, rgb(67, 79, 52) 20%,rgb(107, 91, 68) 20%, rgb(107, 91, 68) 31%,rgb(148, 102, 84) 31%, rgb(148, 102, 84) 75%,rgb(188, 114, 100) 75%, rgb(188, 114, 100) 78%,rgb(228, 125, 116) 78%, rgb(228, 125, 116) 100%); background-blend-mode:overlay, overlay, overlay, normal;opacity: .8;


}
  
  
 

  .magic-bg {
    background: linear-gradient(120deg, #0a0a0ade, #001f3f, #0d47a1);
  }
  
  
  
  

  